$cardBackground: #353839;
$footerColor: #acacac;

.card-container {
    width: 180px;    
    background-color: $cardBackground;
    color: $footerColor;
    padding: 2vh;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;    
    .card-name {        
        position: relative;
        width: 100%;
        color: $footerColor;
        background-color: $cardBackground;
        text-align: center;
        font-size: 110%;
        font-weight: 500;
        white-space: nowrap;
    }
    .card-per {
        text-align: center;
        color: gray;
        white-space: nowrap;
    }
}